<p>
  <strong>Job site:</strong>
  <%= @job_contact.job_site_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @job_contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job_contact.last_name %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @job_contact.contact_type_id %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= number_to_phone(@job_contact.contact_phone) %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @job_contact.contact_email %>
</p>

<p>
  <strong>Contact notes:</strong>
  <%= @job_contact.contact_notes %>
</p>

<%= link_to 'Edit', edit_job_contact_path(@job_contact) %> |
<%= link_to 'Back', job_contacts_path %>
