<h1>Listing Product types</h1>

<table>
  <thead>
    <tr>
      <th>Product type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_types.each do |product_type| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= product_type.product_type %></td>
        <td><%= link_to 'Edit', edit_product_type_path(product_type) %></td>
        <td><%= link_to 'Delete', product_type, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product type', new_product_type_path %>
