<h1>Listing Lead sources</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lead_sources.each do |lead_source| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= lead_source.source %></td>
        <td><%= link_to 'Edit', edit_lead_source_path(lead_source) %></td>
        <td><%= link_to 'Delete', lead_source, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead source', new_lead_source_path %>
