<h1>Listing Job Estimate Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_estimate_statuses.each do |job_estimate_status| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= job_estimate_status.status %></td>
        <td><%= link_to 'Show', job_estimate_status %></td>
        <td><%= link_to 'Edit', edit_job_estimate_status_path(job_estimate_status) %></td>
        <td><%= link_to 'Destroy', job_estimate_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job estimate status', new_job_estimate_status_path %>
