<%= form_for(@product_color) do |f| %>
  <% if @product_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_color.errors.count, "error") %> prohibited this product_color from being saved:</h2>

      <ul>
      <% @product_color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_color %><br>
    <%= f.text_field :product_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
