<%= form_for(@unit_of_measurement) do |f| %>
  <% if @unit_of_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_of_measurement.errors.count, "error") %> prohibited this unit_of_measurement from being saved:</h2>

      <ul>
      <% @unit_of_measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
