<%= form_for(@job_detail) do |f| %>
  <% if @job_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_detail.errors.count, "error") %> prohibited this job_detail from being saved:</h2>

      <ul>
      <% @job_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_start_date %><br>
    <%= f.date_select :job_start_date %>
  </div>
  <div class="field">
    <%= f.label :job_status_id %><br>
    <%= f.number_field :job_status_id %>
  </div>
  <div class="field">
    <%= f.label :how_many_stories %><br>
    <%= f.text_field :how_many_stories %>
  </div>
  <div class="field">
    <%= f.label :existing_roof_type_id %><br>
    <%= f.number_field :existing_roof_type_id %>
  </div>
  <div class="field">
    <%= f.label :new_roof_type %><br>
    <%= f.number_field :new_roof_type %>
  </div>
  <div class="field">
    <%= f.label :product_type_id %><br>
    <%= f.number_field :product_type_id %>
  </div>
  <div class="field">
    <%= f.label :product_color_id %><br>
    <%= f.number_field :product_color_id %>
  </div>
  <div class="field">
    <%= f.label :sales_rep_id %><br>
    <%= f.number_field :sales_rep_id %>
  </div>
  <div class="field">
    <%= f.label :estimate_type_id %><br>
    <%= f.number_field :estimate_type_id %>
  </div>
  <div class="field">
    <%= f.label :contract_price %><br>
    <%= f.text_field :contract_price %>
  </div>
  <div class="field">
    <%= f.label :deposit_due %><br>
    <%= f.text_field :deposit_due %>
  </div>
  <div class="field">
    <%= f.label :deposit_method %><br>
    <%= f.text_field :deposit_method %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br>
    <%= f.date_select :date_completed %>
  </div>
  <div class="field">
    <%= f.label :job_notes %><br>
    <%= f.text_field :job_notes %>
  </div>
  <div class="field">
    <%= f.label :lead_sheet_note %><br>
    <%= f.text_field :lead_sheet_note %>
  </div>
  <div class="field">
    <%= f.label :info_taken_by_id %><br>
    <%= f.number_field :info_taken_by_id %>
  </div>
  <div class="field">
    <%= f.label :assign_to %><br>
    <%= f.number_field :assign_to %>
  </div>
  <div class="field">
    <%= f.label :date_taken %><br>
    <%= f.date_select :date_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
