<%= form_for(@job_detail) do |f| %>
  <% if @job_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_detail.errors.count, "error") %> prohibited this job_detail from being saved:</h2>

      <ul>
      <% @job_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_start_date %>
    <%= f.date_select :job_start_date %>
  </div>
  <div class="field">
    <%= f.label :job_status_id %>
    <%= f.select(:job_status_id, options_for_select(JobStatus.all.map{|t| [t.job_status, t.id]}, @job_detail.job_status_id),:include_blank => "Choose Job Status") %>
  </div>
  <div class="field">
    <%= f.label :job_service_type %>
    <ul style="list-style-type:none;">
      <% @service_types.each do |t| %>
          <li> <%= check_box_tag  "service_types_checkbox[]",t.id, @service_type_ids.include?(t.id) %> <%= t.service_type %>  </li>
      <%end%>
    </ul>
  </div>
  <div class="field">
    <%= f.label :how_many_stories %>
    <%= f.text_field :how_many_stories %>
  </div>
  <div class="field">
    <%= f.label :existing_roof_type_id %>
    <%= f.select(:existing_roof_type_id, options_for_select(RoofType.all.map{|t| [t.roof_type, t.id]}, @job_detail.existing_roof_type_id),:include_blank => "Choose Existing Roof") %>
  </div>
  <div class="field">
    <%= f.label :new_roof_type_id %>
    <%= f.select(:new_roof_type_id, options_for_select(RoofType.all.map{|t| [t.roof_type, t.id]}, @job_detail.new_roof_type_id),:include_blank => "Choose New Roof") %>
  </div>
  <div class="field">
    <%= f.label :product_type_id %>
    <%= f.select(:product_type_id, options_for_select(ProductType.all.map{|t| [t.product_type, t.id]}, @job_detail.product_type_id),:include_blank => "Choose Product Type") %>
  </div>
  <div class="field">
    <%= f.label :product_color_id %>
    <%= f.select(:product_color_id, options_for_select(ProductColor.all.map{|t| [t.product_color, t.id]}, @job_detail.product_color_id),:include_blank => "Choose Product Color") %>
  </div>
  <div class="field">
    <%= f.label :sales_rep_id %>
    <%= f.select(:sales_rep_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_detail.sales_rep_id),:include_blank => "Choose Sales Rep") %>
  </div>
  <div class="field">
    <%= f.label :estimate_type_id %>
    <%= f.select(:estimate_type_id, options_for_select(EstimateType.all.map{|t| [t.estimate_type, t.id]}, @job_detail.estimate_type_id),:include_blank => "Choose Estimate Type") %>
  </div>
  <div class="field">
    <%= f.label :contract_price %>
    <%= f.text_field :contract_price %>
  </div>
  <div class="field">
    <%= f.label :deposit_due %>
    <%= f.text_field :deposit_due %>
  </div>
  <div class="field">
    <%= f.label :deposit_method %>
    <%= f.text_field :deposit_method %>
  </div>
  <div class="field">
    <%= f.label :date_completed %>
    <%= f.date_select :date_completed %>
  </div>
  <div class="field">
    <%= f.label :job_notes %>
    <%= f.text_field :job_notes %>
  </div>
  <div class="field">
    <%= f.label :lead_sheet_note %>
    <%= f.text_field :lead_sheet_note %>
  </div>
  <div class="field">
    <%= f.label :info_taken_by_id %>
    <%= f.select(:info_taken_by_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_detail.info_taken_by_id),:include_blank => "Choose Info Taken By") %>
  </div>
  <div class="field">
    <%= f.label :assign_to_id %>
    <%= f.select(:assign_to_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_detail.assign_to_id),:include_blank => "Choose Assign To") %>
  </div>
  <div class="field">
    <%= f.label :date_taken %><br>
    <%= f.date_select :date_taken %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
