<%= render :partial => 'job_customer_info' %>
<div style="width:100%;">
  <div BGCOLOR="#336699" HEIGHT="13" >
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Listing Job Tasks</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
  </div>
</div>
<div style="background:#ffffff; line-height: 2px; width: 100%;padding-bottom: 10px;">
  <%=image_tag("dkbluespc.gif", :height=>"2", :width => "100%")%>
</div>
<table width="100%">
  <thead>
    <tr>
      <th align="left">Date Created</th>
      <th align="left">Task type</th>
      <th align="left">Task note</th>
      <th align="left">Target date</th>
      <th align="left">Entered by</th>
      <th align="left">Date completed</th>
      <th align="left">Completed by</th>
      <th align="left"></th>
      <th align="left"></th>
      <th align="left"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_tasks.each do |job_task| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= job_task.created_at.strftime('%m/%d/%Y')%></td>
        <td><%= TaskType.where(:id=>job_task.task_type_id).pluck(:task_type).first %></td>
        <td><%= job_task.task_note %></td>
        <td><%if job_task.target_date !=nil %><%= job_task.target_date.strftime('%m/%d/%Y')%><%end%></td>
        <td><%= User.where(:id=>job_task.entered_by_id).pluck(:first_name).first %> <%= User.where(:id=>job_task.entered_by_id).pluck(:last_name).first %></td>
        <td><%if job_task.date_completed !=nil %><%= job_task.date_completed.strftime('%m/%d/%Y')%><%end%></td>
        <td><%= User.where(:id=>job_task.completed_by_id).pluck(:first_name).first %> <%= User.where(:id=>job_task.completed_by_id).pluck(:last_name).first %></td>
        <td><%= link_to 'Edit', edit_customer_job_site_job_task_path(:customer_id=>@customer.id, :id=>job_task.id,:job_site_id=>job_task.job_site_id) %></td>
        <td><%= link_to 'Delete',customer_job_site_job_task_path(:id=>job_task.id, :customer_id=>@customer.id, :job_site_id=>@job_site.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'Back',  edit_customer_job_site_path(:id=>@job_site.id, :customer_id=>@customer.id) %> &nbsp;
<%= link_to 'New Job Task', new_customer_job_site_job_task_path(:customer_id=>@customer.id, :job_site_id=>@job_site.id) %>
