<%= form_for(@user) do |f| %>
    <script type="text/javascript">
        jQuery(function($) {
            alert('niket111');
            $.mask.definitions['~']='[+-]';
            $('#user_phone').mask('(999) 999-9999');
            alert('niket222');
        });
    </script>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Employee Detail</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <table width="70%">
      <tr>
        <td width="10%">First Name</td>
        <td width="22%"><%= f.text_field :first_name %></td>
        <td width="1%"></td>
        <td width="10%">Last Name</td>
        <td width="35%"><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= f.text_field :address %></td>
        <td></td>
        <td>City</td>
        <td><%= f.text_field :city %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= f.text_field :state %></td>
        <td></td>
        <td>Zip</td>
        <td><%= f.text_field :zip %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><%= f.text_field :phone %></td>
        <td></td>
        <% if current_user.role?("superadmin") %>
            <td>Is Active</td>
            <td><%= f.check_box :is_active %></td>
        <%else %>
            <td></td>
            <td></td>
        <%end %>
      </tr>

    </table>
    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Login Info</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <%= render :partial => '/devise/registrations/user_fields' , :locals => {:f => f} %>
    <% if current_user.role?("superadmin") %>
    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Role</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <div class="field">
      <%= f.label 'Roles' %><br />
      <%=  build_role_list('/users/role_checkbox') %>
    </div>
    <%end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
