<%= form_for(@item_code) do |f| %>
  <% if @item_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_code.errors.count, "error") %> prohibited this item_code from being saved:</h2>

      <ul>
      <% @item_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_code %>: <%= f.text_field :item_code %>
  </div>
  <div class="field">
    <%= f.label :item_name %>: <%= f.text_field :item_name %>
  </div>
  <div class="field">
    Unit of Measurement: <%= f.select(:uom_id, options_for_select(UnitOfMeasurement.all.map{|t| [t.unit, t.id]}, @item_code.uom_id),:include_blank => "Choose UOM") %>
  </div>
  <div class="field">
    <%= f.label :material_cost %>: $<%= f.text_field :material_cost %>
  </div>
  <div class="field">
    <%= f.label :labor_rate %>: $<%= f.text_field :labor_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
