<%= form_for([@job_site.customer, @job_site]) do |f| %>
  <script type="text/javascript">
    function sameAsBillingAddress(form, street1, street2, city, state, zip){
        if(form.autoFillAddress.checked == true){
            form.job_site_street1.value=street1;
            form.job_site_street2.value=street2;
            form.job_site_city.value=city;
            form.job_site_state.value=state;
            form.job_site_zip.value=zip;
        }else{
            form.job_site_street1.value='';
            form.job_site_street2.value='';
            form.job_site_city.value='';
            form.job_site_state.value='';
            form.job_site_zip.value='';
        }
    }
    $(function() {
        $( "#jobStartDate" ).datepicker({ dateFormat: 'mm/dd/yy'});
        $( "#dateCompleted" ).datepicker({ dateFormat: 'mm/dd/yy'});
        $( "#dateTaken" ).datepicker({ dateFormat: 'mm/dd/yy'});
    });
  </script>
  <% if @job_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_site.errors.count, "error") %> prohibited this job_site from being saved:</h2>

      <ul>
      <% @job_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Job Site Information</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <table width="70%">
      <tr>
        <td width="10%">Company</td><td width="22%"><%= f.text_field :company_name%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"></td>
      </tr>
      <tr>
        <td width="10%">Contact*</td><td width="22%"><%= f.text_field :contact_name%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"><b>Job Site Address</b></td>
      </tr>
      <tr>
        <td width="10%">JobSite Phone</td><td width="22%"><%= f.text_field :phone%></td>
        <td width="1%"></td>
        <td width="10%"></td>
        <td width="35%"><input type="checkbox" id="autoFillAddress" name="autoFillAddress"
                               onclick="sameAsBillingAddress(this.form, '<%= @job_site.customer.street1 %>'
                                       , '<%= @job_site.customer.street2 %>', '<%= @job_site.customer.city %>'
                                       , '<%= @job_site.customer.state %>', '<%= @job_site.customer.zip %>')">Same as Billing Address</td>
      </tr>
      <tr>
        <td width="10%">Wk Phone</td><td width="22%"><%= f.text_field :work_phone%> Ext<%= f.text_field :work_phone_ext, :size=>"5"%></td>
        <td width="1%"></td>
        <td width="10%">Street 1</td><td width="35%"><%= f.text_field :street1%></td>
      </tr>
      <tr>
        <td width="10%">Mobile</td><td width="22%"><%= f.text_field :mobile_phone%></td>
        <td width="1%"></td>
        <td width="10%">Street 2</td><td width="35%"><%= f.text_field :street2%></td>
      </tr>
      <tr>
        <td width="10%">Fax</td><td width="22%"><%= f.text_field :fax%></td>
        <td width="1%"></td>
        <td width="10%">City</td><td width="35%"><%= f.text_field :city%> State<%= f.text_field :state, :size=>"2"%> Zip<%= f.text_field :zip, :size=>"10"%></td>
      </tr>
      <tr>
        <td width="10%">Pager</td><td width="22%"><%= f.text_field :pager%></td>
        <td colspan="3"></td>
      </tr>
    </table>
   <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Job Details</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <table width="60%">
      <tr>
        <td width="20%">Job Start Date</td>
        <td width="25%"><%= f.text_field :job_start_date, :id => 'jobStartDate' %></td>
        <td width="1%"></td>
        <td width="25%">Job Status</td>
        <td width="35%"><%= f.select(:job_status_id, options_for_select(JobStatus.all.map{|t| [t.job_status, t.id]}, @job_site.job_status_id),:include_blank => "Choose Job Status") %></td>
      </tr>
      <tr>
        <td width="20%">Service Requested</td>
        <td width="25%"><ul style="list-style-type:none;">
          <% @service_types.each do |t| %>
              <li> <%= check_box_tag  "service_types_checkbox[]",t.id, @service_type_ids.include?(t.id) %> <%= t.service_type %>  </li>
          <%end%>
        </ul></td>
        <td width="1%"></td>
        <td width="25%">How Many Stories</td>
        <td width="35%"><%= f.text_field :how_many_stories %></td>
      </tr>
      <tr>
        <td width="20%">Existing Roof Type</td>
        <td width="22%"><%= f.select(:existing_roof_type_id, options_for_select(RoofType.all.map{|t| [t.roof_type, t.id]}, @job_site.existing_roof_type_id),:include_blank => "Choose Existing Roof") %></td>
        <td width="1%"></td>
        <td width="15%">New Roof Type</td>
        <td width="35%"><%= f.select(:new_roof_type_id, options_for_select(RoofType.all.map{|t| [t.roof_type, t.id]}, @job_site.new_roof_type_id),:include_blank => "Choose New Roof") %></td>
      </tr>
      <tr>
        <td width="20%">Product Type</td>
        <td width="22%"><%= f.select(:product_type_id, options_for_select(ProductType.all.map{|t| [t.product_type, t.id]}, @job_site.product_type_id),:include_blank => "Choose Product Type") %></td>
        <td width="1%"></td>
        <td width="15%">Product Color</td>
        <td width="35%"><%= f.select(:product_color_id, options_for_select(ProductColor.all.map{|t| [t.product_color, t.id]}, @job_site.product_color_id),:include_blank => "Choose Product Color") %></td>
      </tr>
      <tr>
        <td width="20%">Sales Rep</td>
        <td width="22%"><%= f.select(:sales_rep_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_site.sales_rep_id),:include_blank => "Choose Sales Rep") %></td>
        <td width="1%"></td>
        <td width="15%">Estimate Type</td>
        <td width="35%"><%= f.select(:estimate_type_id, options_for_select(EstimateType.all.map{|t| [t.estimate_type, t.id]}, @job_site.estimate_type_id),:include_blank => "Choose Estimate Type") %></td>
      </tr>
      <tr>
        <td width="20%">Contract Price</td>
        <td width="22%">$<%= f.text_field :contract_price %></td>
        <td width="1%"></td>
        <td width="15%">Deposit Due</td>
        <td width="35%">$<%= f.text_field :deposit_due %></td>
      </tr>
      <tr>
        <td width="20%">Deposit Method</td>
        <td width="22%"><%= f.text_field :deposit_method %></td>
        <td width="1%"></td>
        <td width="15%">Date Completed</td>
        <td width="35%"><%= f.text_field :date_completed, :id => 'dateCompleted' %></td>
      </tr>
      <tr>
        <td width="20%">Info Taken By</td>
        <td width="22%"><%= f.select(:info_taken_by_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_site.info_taken_by_id),:include_blank => "Choose Info Taken By") %></td>
        <td width="1%"></td>
        <td width="15%">Assign To</td>
        <td width="35%"><%= f.select(:assign_to_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_site.assign_to_id),:include_blank => "Choose Assign To") %></td>
      </tr>
      <tr>
        <td width="20%">Job Notes</td>
        <td colspan="4"><%= f.text_field :job_notes %></td>
      </tr>
      <tr>
        <td width="20%">Lead Sheet Note</td>
        <td colspan="4"><%= f.text_field :lead_sheet_note %></td>
      </tr>
      <tr>
        <td width="20%">Date Taken</td>
        <td colspan="4"><%= f.text_field :date_taken, :id => 'dateTaken' %></td>
      </tr>
    </table>

    <br>
    <table width="750px">
      <tr>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
            <%= button_to "Update Job Site", {:controller => :job_sites, :action => 'update', :id => @job_site.id }, :method => :post %>
          <% else %>
            <%= button_to "Create Job Site", {:controller => :job_sites, :action => 'create', :customer_id =>@customer.id }, :method => :post %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
            <%= button_to "Delete Job Site", {:controller => :job_sites, :action => 'destroy', :id => @job_site.id }, :method => :delete, :data => { confirm: 'Are you sure you want to delete job site?' } %>
          <% end %>
        </td>
      </tr>
    </table>
    <br>

<% end %>
