<%= form_for([@job_site.customer, @job_site]) do |f| %>
  <script type="text/javascript">
    function sameAsBillingAddress(form, street1, street2, city, state, zip){
        if(form.autoFillAddress.checked == true){
            form.job_site_street1.value=street1;
            form.job_site_street2.value=street2;
            form.job_site_city.value=city;
            form.job_site_state.value=state;
            form.job_site_zip.value=zip;
        }else{
            form.job_site_street1.value='';
            form.job_site_street2.value='';
            form.job_site_city.value='';
            form.job_site_state.value='';
            form.job_site_zip.value='';
        }
    }
    $(function() {
        $( "#jobStartDate" ).datepicker({ dateFormat: 'mm/dd/yy'});
        $( "#dateCompleted" ).datepicker({ dateFormat: 'mm/dd/yy'});
        $( "#dateTaken" ).datepicker({ dateFormat: 'mm/dd/yy'});
    });
  </script>
  <% if @job_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_site.errors.count, "error") %> prohibited this job_site from being saved:</h2>

      <ul>
      <% @job_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div style="width:auto;">
        <div BGCOLOR="#336699" HEIGHT="13" style="width: 60%;clear: both;float:left;" >
          <span style="background-color:#336699; ">
            <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
            <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Job Site Information</span>
            <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
          </span>
        </div>
        <div BGCOLOR="#336699" HEIGHT="13" style="width:auto;" >
          <span style="background-color:#336699; ">
            <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
            <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Customer Information</span>
            <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
          </span>
        </div>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 100%;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "100%")%>
    </div>
    <div style="width:100%;">
      <div style="width: 60%;height: 250px;clear: both;float:left;" >
        <table style="border-right:thick double #336699;" width="100%">
          <tr>
            <td>Contact*</td><td><%= f.text_field :contact_name%></td>
            <td></td>
            <td colspan="2"><b>Job Site Address</b></td>
          </tr>
          <tr>
            <td>JobSite Phone</td><td><%= f.text_field :phone%></td>
            <td></td>
            <td colspan="2"><input type="checkbox" id="autoFillAddress" name="autoFillAddress"
                                   onclick="sameAsBillingAddress(this.form, '<%= @job_site.customer.street1 %>'
                                           , '<%= @job_site.customer.street2 %>', '<%= @job_site.customer.city %>'
                                           , '<%= @job_site.customer.state %>', '<%= @job_site.customer.zip %>')">Same as Billing Address</td>
          </tr>
          <tr>
            <td>Wk Phone</td><td><%= f.text_field :work_phone%> Ext<%= f.text_field :work_phone_ext, :size=>"5"%></td>
            <td></td>
            <td>Street 1</td><td><%= f.text_field :street1%></td>
          </tr>
          <tr>
            <td>Mobile</td><td><%= f.text_field :mobile_phone%></td>
            <td></td>
            <td>Street 2</td><td><%= f.text_field :street2%></td>
          </tr>
          <tr>
            <td>Fax</td><td><%= f.text_field :fax%></td>
            <td></td>
            <td>City</td><td><%= f.text_field :city%></td>
          </tr>
          <tr>
            <td>website</td><td><%= f.text_field :website%></td>
            <td></td>
            <td>State</td><td><%= f.text_field :state, :size=>"2"%> Zip<%= f.text_field :zip, :size=>"10"%></td>
          </tr>
        </table>
      </div>
      <div style="width:auto;height: 250px" >
        <table>
            <tr>
            <td width="10%">First Name:</td><td width="15%"><%= @job_site.customer.first_name%></td>
            <td width="1%"></td>
            <td width="10%">Last Name:</td><td width="20%"><%= @job_site.customer.last_name%></td>
            </tr>
            <tr>
            <td>Email:</td><td ><%= @job_site.customer.email%></td>
            <td></td>
            <td>Address 1:</td><td><%= @job_site.customer.street1%></td>
            </tr>
            <tr>
            <td>Wk Phone:</td><td><%= @job_site.customer.work_phone%>-<%= @job_site.customer.work_phone_ext%></td>
            <td></td>
            <td>Address 2:</td>
            <td><%= @job_site.customer.street2%></td>
            </tr>
            <tr>
            <td>Mobile:</td><td><%= @job_site.customer.mobile_phone%></td>
            <td></td>
            <td>City:</td><td><%= @job_site.customer.city%></td>
            </tr>
            <tr>
            <td>Fax:</td><td><%= @job_site.customer.fax%></td>
            <td></td>
            <td>State:</td><td><%= @job_site.customer.state%></td>
            </tr>
            <tr>
            <td colspan="5">Customer Type: <% if @job_site.customer.type=!nil %><%= CustomerType.where("id" =>@job_site.customer.type).pluck("type").first%> <%end %></td>
            </tr>

        </table>
      </div>
   </div>

   <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Job Details</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 100%;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "100%")%>
    </div>
    <table width="100%" border="0">
      <tr>
        <td>Appointment Date</td>
        <td><%= f.text_field :job_start_date, :id => 'jobStartDate' %></td>
        <td></td>
        <td>Lead Status</td>
        <td><%= f.select(:job_status_id, options_for_select(JobStatus.all.map{|t| [t.status, t.id]}, @job_site.job_status_id),:include_blank => "Choose Job Status") %></td>
        <td></td>
        <td>Service Requested</td>
        <td colspan="4">
          <% if @service_types != nil %>
              <% @service_types.each do |t| %>
                   <%= check_box_tag  "service_types_checkbox[]",t.id, @service_type_ids !=nil && @service_type_ids.include?(t.id) %> <%= t.service_type %>  &nbsp;
              <%end%>
          <%end%>
        </td>
      </tr>
      <tr>
        <td width="10%">How Many Stories</td>
        <td width="10%"><%= f.text_field :how_many_stories %></td>
        <td width="1%"></td>
        <td width="10%">Existing Roof Type</td>
        <td width="10%"><%= f.select(:existing_roof_type_id, options_for_select(RoofType.all.map{|t| [t.roof_type, t.id]}, @job_site.existing_roof_type_id),:include_blank => "Choose Existing Roof") %></td>
        <td width="1%"></td>
        <td width="10%">New Roof Type</td>
        <td width="10%"><%= f.select(:new_roof_type_id, options_for_select(RoofType.all.map{|t| [t.roof_type, t.id]}, @job_site.new_roof_type_id),:include_blank => "Choose New Roof") %></td>
        <td width="1%"></td>
        <td width="10%">Product Type</td>
        <td width="10%"><%= f.select(:product_type_id, options_for_select(ProductType.all.map{|t| [t.product_type, t.id]}, @job_site.product_type_id),:include_blank => "Choose Product Type") %></td>
      </tr>
      <tr>
        <td>Product Color</td>
        <td><%= f.select(:product_color_id, options_for_select(ProductColor.all.map{|t| [t.product_color, t.id]}, @job_site.product_color_id),:include_blank => "Choose Product Color") %></td>
        <td></td>
        <td>Sales Rep</td>
        <td><%= f.select(:sales_rep_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_site.sales_rep_id),:include_blank => "Choose Sales Rep") %></td>
        <td></td>
        <td>Estimate Type</td>
        <td><%= f.select(:estimate_type_id, options_for_select(EstimateType.all.map{|t| [t.estimate_type, t.id]}, @job_site.estimate_type_id),:include_blank => "Choose Estimate Type") %></td>
        <td></td>
        <td>Contract Price</td>
        <td>$<%= f.text_field :contract_price %></td>
      </tr>
      <tr>
        <td>Deposit Due</td>
        <td>$<%= f.text_field :deposit_due %></td>
        <td></td>
        <td>Deposit Method</td>
        <td><%= f.text_field :deposit_method %></td>
        <td></td>
        <td>Date Completed</td>
        <td><%= f.text_field :date_completed, :id => 'dateCompleted' %></td>
        <td></td>
        <td>Info Taken By</td>
        <td><%= f.select(:info_taken_by_id, options_for_select(Employee.all.map{|t| [t.first_name+' '+t.last_name, t.id]}, @job_site.info_taken_by_id),:include_blank => "Choose Info Taken By") %></td>
      </tr>
      <tr>
        <td>Date Taken</td>
        <td colspan="10"><%= f.text_field :date_taken, :id => 'dateTaken'%></td>
      </tr>
    </table>
    <table width="100%" border="0">
      <tr>
        <td width="11%">Lead Sheet Note</td>
        <td width="40%"><%= f.text_area :lead_sheet_note, :size=>"50x3"%></td>
        <td width="11%">Job Notes</td>
        <td width="40%"><%= f.text_area :job_notes, :size=>"50x3" %></td>
      </tr>
    </table>

    <br>

    <table width="100%">
      <tr>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
            <%= button_to "Update Job Site", {:controller => :job_sites, :action => 'update', :id => @job_site.id }, :method => :post %>
          <% else %>
            <%= button_to "Create Job Site", {:controller => :job_sites, :action => 'create', :customer_id =>@customer.id }, :method => :post %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
              <%= button_to "Job Estimate", customer_job_site_job_estimates_path(:customer_id =>@job_site.customer_id, :job_site_id =>@job_site.id), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
              <%= button_to "Job Call Note", customer_job_site_job_call_notes_path(:customer_id =>@job_site.customer_id, :job_site_id =>@job_site.id), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
              <%= button_to "Job Task", customer_job_site_job_tasks_path(:customer_id =>@job_site.customer_id, :job_site_id =>@job_site.id), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
              <%= button_to "Job Change Order", customer_job_site_job_change_orders_path(:customer_id =>@job_site.customer_id, :job_site_id =>@job_site.id), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
              <%= button_to "Job Contact", customer_job_site_job_contacts_path(:customer_id =>@job_site.customer_id, :job_site_id =>@job_site.id), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
              <%= button_to "Job Document", customer_job_site_job_documents_path(:customer_id =>@job_site.customer_id, :job_site_id =>@job_site.id), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @job_site!= nil && @job_site.id != nil%>
            <%= button_to "Delete Job Site", {:controller => :job_sites, :action => 'destroy', :id => @job_site.id }, :method => :delete, :data => { confirm: 'Are you sure you want to delete job site?' } %>
          <% end %>
        </td>
      </tr>
    </table>
    <br/>
    <%= link_to 'Lead Sheet PDF',  lead_sheet_path(:id=>@job_site.id) %>
    <br/>
    <%= link_to 'Back',  edit_customer_path(:id=>@customer.id) %> &nbsp;
<% end %>
