<%= form_for [@customer, @job_site, @job_estimate] do |f| %>
    <script type="text/javascript">
        $.fn.updateItemExtendedWithAjax = function(item_extended_id, job_estimate_item_id) {
            var that = this;
            this.blur(function() {
                $.get("/update_estimate_item", {qty: that.val(), id: job_estimate_item_id}, null, "script");
            });
        }
        $.fn.updateItemStepWithAjax = function(job_estimate_item_id, extended_item) {
            var that = this;
            this.blur(function() {
                $.get("/update_estimate_item", {step: that.val(), id: job_estimate_item_id, extended: extended_item}, null, "script");
            });
        }
        $(document).ready(function() {
            $('.nav-toggle').click(function(){
//                $("#showItemId").bind('submit', function (event) {
//                    event.preventDefault();
//                });
                //get collapse content selector
                var collapse_content_selector = $(this).attr('href');

                //make the collapse content to be shown or hide
                var toggle_switch = $(this);
                $(collapse_content_selector).toggle(function(){
                    if($(this).css('display')=='none'){
                        //change the button label to be 'Show'
                        toggle_switch.html('Show Items to Add');
                    }else{
                        //change the button label to be 'Hide'
                        toggle_switch.html('Hide Items');
                    }
                });
            });

        });
    </script>
    <% if @job_estimate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job_estimate.errors.count, "error") %> prohibited this job_estimate from being saved:</h2>

          <ul>
            <% @job_estimate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table width="100%">
      <tr>
        <td width="10%">Estimate Name: <%= f.text_field :name, :readonly=>true, :size=>50 %></td>
        <td width="10%">Status: <%= f.select(:estimate_status_id, options_for_select(JobEstimateStatus.all.map{|t| [t.status, t.id]}, @job_estimate.estimate_status_id),:include_blank => "Choose Status") %></td>
      </tr>
    </table>
    </br>
    <% if @items !=nil &&  @items.any? %>
    <table width="100%">
      <tr>
        <th align="left"></th>
        <th align="left">Steps</th>
        <th align="left">Materials</th>
        <th align="left">Units</th>
        <th align="left">Item Price</th>
        <th align="left">Qty</th>
        <th align="left">Total</th>
      </tr>
      <% @items.each do |job_estimate_item| %>
          <% assembly = Assembly.find(job_estimate_item.master_item_id)
             item_qty_id = "item_qty_"+job_estimate_item.id.to_s
             item_step_id = "item_step_"+job_estimate_item.id.to_s
             delete_item_id = "delete_item_"+job_estimate_item.id.to_s
             item_extended_id = "item_extended_"+job_estimate_item.id.to_s
          %>
          <tr  class="<%= cycle('oddrow', 'evenrow') %>">
            <td width="10%"><%= link_to "Delete", delete_estimate_item_path(:id=>@job_estimate.id,:job_site_id=>@job_site.id,:estimate_item_id => job_estimate_item.id), :method=>:get %></td>
            <td width="10%"><%= text_field_tag "step",job_estimate_item.step, :id => item_step_id, :size=>10%></td>
            <td width="10%"><%= assembly.item_description%></td>
            <td width="10%"><%= UnitOfMeasurement.find(assembly.uom_id).unit%></td>
            <td width="10%"><%= number_to_currency(job_estimate_item.retail_price)%></td>
            <td width="10%"><%= text_field_tag "qty",job_estimate_item.qty, :id => item_qty_id %></td>
            <td width="10%"><span id="<%= item_extended_id %>"><%= number_to_currency(job_estimate_item.item_extended) %></span></td>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#<%= item_qty_id %>").updateItemExtendedWithAjax("<%= item_extended_id %>",<%= job_estimate_item.id %>);
                    $("#<%= item_step_id %>").updateItemStepWithAjax("<%= job_estimate_item.id %>", "<%= job_estimate_item.item_extended %>");
                });
            </script>
          </tr>
      <% end %>
    </table>
    <% end %>
</br>
    <% if @not_added_job_estimate_items !=nil && @not_added_job_estimate_items.any? %>
        <button id="showItemId" type="button" href="#collapse1" class="nav-toggle">Show Items To Add</button>
        <div id="collapse1" style="display:none">
        <table width="100%">
          <tr>
            <th align="left">Add</th>
            <th align="left">Description</th>
            <th align="left">Unit</th>
            <th align="left">Price</th>
          </tr>
          <% @not_added_job_estimate_items.each do |assembly| %>
              <tr class="<%= cycle('oddrow', 'evenrow') %>">
                <td width="10%"><%= check_box_tag  "selected_assemblies_checkbox[]",assembly.id %> </td>
                <td width="10%"><%= assembly.item_description%></td>
                <td width="10%"><%= UnitOfMeasurement.find(assembly.uom_id).unit%></td>
                <td width="10%"><%= number_to_currency(assembly.total_price)%></td>
              </tr>
          <% end %>
        </table>
        <%= f.submit "Add Item" %>
        </div>
     <% end %>
    </br>
    <table width="100%">
      <tr>
        <td width="10%">Total Items: </td>
        <td width="15%"><%= number_to_currency(@job_estimate.total_item_price) %></td>
        <td width="75%"></td>
      </tr>
      <tr>
        <td>Price Adjustment: </td>
        <td>$<%= f.text_field :price_adjustment, :size=>20 %></td>
        <td>Reason: <%= f.text_field :reason_desc, :size=> 100 %></td>
      </tr>
      <tr>
        <td>Contract Price: </td>
        <td colspan="2"><%= number_to_currency(@job_estimate.contract_price) %></td>
      </tr>
    </table>
    <br/>
    <%= link_to 'Printable Estimate(PDF)',  job_estimate_pdf_path(:id=>@job_estimate.id,:customer_id=>@customer.id,:job_site_id=>@job_site.id, :format=>"pdf") %>
    &nbsp; &nbsp; <%= link_to 'Printable Proposal(PDF)',  job_proposal_path(:id=>@job_estimate.id,:customer_id=>@customer.id,:job_site_id=>@job_site.id, :format=>"pdf") %>
    <br/>
    <br/>
    <div class="actions">
      <% if @job_estimate!= nil && @job_estimate.id != nil%>
          <%= f.submit "Update Item" %>
      <% else %>
          <%= f.submit "Create Item" %>
      <% end %>
    </div>
<% end %>
