<%= render :partial => 'job_customer_info' %>
<div style="width:100%;">
  <div BGCOLOR="#336699" HEIGHT="13" >
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Listing Job Estimates</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
  </div>
</div>
<div style="background:#ffffff; line-height: 2px; width: 100%;padding-bottom: 10px;">
  <%=image_tag("dkbluespc.gif", :height=>"2", :width => "100%")%>
</div>
<table width="100%">
  <thead>
  <tr>
    <th align="left">Estimate Name</th>
    <th align="left">Total item price</th>
    <th align="left">Price adjustment</th>
    <th align="left">Estimate status</th>
    <th align="left"></th>
    <th align="left"></th>
  </tr>
  </thead>

  <tbody>
  <% @job_estimates.each do |job_estimate| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= link_to job_estimate.name, edit_customer_job_site_job_estimate_path(:customer_id=>@customer.id, :id=>job_estimate.id,:job_site_id=>job_estimate.job_site_id) %></td>
        <td><%= number_to_currency(job_estimate.total_item_price)%></td>
        <td><%= number_to_currency(job_estimate.price_adjustment)%></td>
        <td><%= JobEstimateStatus.find(job_estimate.estimate_status_id).status unless job_estimate.estimate_status_id.nil?  %></td>
        <td><%= link_to 'Edit', edit_customer_job_site_job_estimate_path(:customer_id=>@customer.id, :id=>job_estimate.id,:job_site_id=>job_estimate.job_site_id) %></td>
        <td><%= link_to 'Delete', customer_job_site_job_estimate_path(:id=>job_estimate.id, :customer_id=>@customer.id, :job_site_id=>@job_site.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back',  edit_customer_job_site_path(:id=>@job_site.id, :customer_id=>@customer.id) %> &nbsp;
<%= link_to 'Add Job Estimate', new_customer_job_site_job_estimate_path(:customer_id=>@customer.id, :job_site_id=>@job_site.id) %>
