<p>
  <strong>Job detail:</strong>
  <%= @job_estimate.job_site_id %>
</p>

<p>
  <strong>Step:</strong>
  <%= @job_estimate.step %>
</p>

<p>
  <strong>Master item:</strong>
  <%= @job_estimate.master_item_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @job_estimate.qty %>
</p>

<p>
  <strong>Proposal desc:</strong>
  <%= @job_estimate.proposal_desc %>
</p>

<p>
  <strong>Warranty desc:</strong>
  <%= @job_estimate.warranty_desc %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @job_estimate.retail_price %>
</p>

<p>
  <strong>Item extended:</strong>
  <%= @job_estimate.item_extended %>
</p>

<%= link_to 'Edit', edit_job_site_job_estimate_path(:id=>@job_estimate.id,:job_site_id=>@job_estimate.job_site_id) %> |
<%= link_to 'Back', job_site_job_estimates_path(:job_site_id=>@job_estimate.job_site_id) %>
