<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_estimate.name %>
</p>

<p>
  <strong>Total item price:</strong>
  <%= @job_estimate.total_item_price %>
</p>

<p>
  <strong>Price adjustment:</strong>
  <%= @job_estimate.price_adjustment %>
</p>

<p>
  <strong>Reason desc:</strong>
  <%= @job_estimate.reason_desc %>
</p>

<p>
  <strong>Estimate status:</strong>
  <%= @job_estimate.estimate_status_id %>
</p>

<%= link_to 'Edit', edit_job_estimate_path(@job_estimate) %> |
<%= link_to 'Back', job_estimates_path %>
