
    <%= form_for [@customer, @job_site, @job_estimate], :html => {:multipart => true}, :url=> {:action => "job_proposal"} do |f| %>

    <h1>Update Proposal Verbiage</h1>

    <% if @items !=nil &&  @items.any? %>
    <table width="100%">
      <tr>
        <th align="left" width="10%">Steps</th>
        <th align="left" width="90%">Proposal Description</th>
      </tr>
      <% @items.each do |job_estimate_item| %>
          <% assembly = Assembly.find(job_estimate_item.master_item_id)
             proposal_desc_id = "proposal_desc_"+job_estimate_item.id.to_s
          %>
          <tr  class="<%= cycle('oddrow', 'evenrow') %>">
            <td width="10%"><%= job_estimate_item.step %></td>
            <td width="10%"><%= text_field_tag proposal_desc_id,Assembly.where(:id=>job_estimate_item.master_item_id).pluck(:proposal_description).first, :id => proposal_desc_id, :size=>100 %></td>
                      </tr>
      <% end %>
    </table>
    <input id="customer_id" name="customer_id" type="hidden" value="<%= @customer.id %>">
    <input id="job_site_id" name="job_site_id" type="hidden" value="<%= @job_site.id %>">
    <input id="id" name="id" type="hidden" value="<%= @job_estimate.id %>">
    <input id="format" name="format" type="hidden" value="pdf">
    <% end %>
    <br/>
    <%= f.submit "Update Proposal Description" %>
    <br/>
    <br/>
    <%= link_to 'Back', customer_job_site_job_estimates_path(:customer_id=>@customer.id, :id=>@job_estimate.id,:job_site_id=>@job_estimate.job_site_id) %>

</form>
<% end %>