<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Customer Information</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <table width="70%">
      <tr>
        <td width="10%">Company</td><td width="22%"><%= f.text_field :company_name%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"></td>
      </tr>
      <tr>
        <td width="10%">Title</td><td width="22%"><%= f.text_field :title%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"></td>
      </tr>
      <tr>
        <td width="10%">First Name*</td><td width="22%"><%= f.text_field :first_name%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"><b>Billing Address</b></td>
      </tr>
      <tr>
        <td width="10%">Last Name*</td><td width="22%"><%= f.text_field :last_name%></td>
        <td width="1%"></td>
        <td width="10%">Street 1</td><td width="35%"><%= f.text_field :street1%></td>
      </tr>
      <tr>
        <td width="10%">Email</td><td width="22%"><%= f.text_field :email%></td>
        <td width="1%"></td>
        <td width="10%">Street 2</td><td width="35%"><%= f.text_field :street2%></td>
      </tr>
      <tr>
        <td width="10%">Hm Phone</td><td width="22%"><%= f.text_field :home_phone%></td>
        <td width="1%"></td>
        <td width="10%">City</td><td width="35%"><%= f.text_field :city%> State<%= f.text_field :state, :size=>"2"%> Zip<%= f.text_field :zip, :size=>"10"%></td>
      </tr>
      <tr>
        <td width="10%">Wk Phone</td><td width="22%"><%= f.text_field :work_phone%> Ext<%= f.text_field :work_phone_ext, :size=>"5"%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"></td>
      </tr>
      <tr>
        <td width="10%">Mobile</td><td width="22%"><%= f.text_field :mobile_phone%></td>
        <td width="1%"></td>
        <td width="10%"></td><td width="35%"></td>
      </tr>
      <tr>
        <td width="10%">Fax</td><td width="22%"><%= f.text_field :fax%></td>
        <td width="1%"></td>
        <td width="10%">Misc</td><td width="35%"><%= f.text_area :misc, :size => "30x5" %></td>
      </tr>
      <tr>
        <td width="10%">website</td><td width="22%" colspan="4"><%= f.text_field :website, :size => "100"%></td>
      </tr>
    </table>
    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Customer Profile</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <table width="70%">
      <tr>
        <td width="10%">Customer Type</td>
        <td width="22%">
          <%= f.select(:type, options_for_select(CustomerType.all.map{|t| [t.type, t.id]}, @customer.type),:include_blank => "Choose Customer Type") %>
        </td>
        <td width="1%"></td>
        <td width="15%">Company Association</td>
        <td width="35%">
          <%= f.select(:company_id, options_for_select(Company.all.map{|c| [c.name, c.id]}, @customer.company_id), :include_blank => "Choose Company") %>
        </td>
      </tr>
      <tr>
        <td width="10%">Lead Source</td>
        <td width="22%">
          <%= f.select(:lead_source_id, options_for_select(LeadSource.all.map{|l| [l.source, l.id]}, @customer.lead_source_id), :include_blank => "Choose Source") %>
        </td>
        <td width="1%"></td>
        <td width="15%">Sales Person</td>
        <td width="35%">
          <%= f.select(:sales_person_id, options_for_select(Employee.all.map{|s| [s.first_name+' '+s.last_name, s.id]}, @customer.sales_person_id), :include_blank => "Choose Sales Person") %>
        </td>
      </tr>

    </table>
    <br>
    <table width="750px">
      <tr>
        <td>
          <% if @customer!= nil && @customer.id != nil%>
              <%= button_to "Update Customer", {:controller => :customers, :action => 'update', :id => @customer.id }, :method => :post %>
          <% else %>
              <%= button_to "Create Customer", {:controller => :customers, :action => 'create', :id =>@customer.id }, :method => :post %>
          <% end %>
        </td>
        <td>
          <% if @customer!= nil && @customer.id != nil%>
              <%= button_to "Delete Customer", {:controller => :customers, :action => 'destroy', :id => @customer.id }, :method => :delete, :data => { confirm: 'Are you sure you want to delete customer?' } %>
          <% end %>
        </td>
      </tr>
    </table>
 <br>
    <% if @customer!= nil && @customer.id !=nil %>
    <div BGCOLOR="#336699" HEIGHT="13" style="width: 850px;">
      <span style="background-color:#336699; ">
        <%=image_tag("tab-ldark.gif", :height=>"14", :width => "10")%>
        <span style="font-family: verdana, arial, helvetica; color: #ffffff; font-weight:bold ;font-size: 12px">Job Sites</span>
        <%=image_tag("tab-rdark.gif", :height=>"14", :width => "10")%>
      </span>
    </div>
    <div style="background:#ffffff; line-height: 2px; width: 850px;padding-bottom: 10px;">
      <%=image_tag("dkbluespc.gif", :height=>"2", :width => "850")%>
    </div>
    <% if @job_sites!= nil && @job_sites.count >= 1 %>
        <table width="50%">
          <thead>
          <tr>
            <th align="left">Contact Name</th>
            <th align="left">Address</th>
            <th align="left">City</th>
          </tr>
          </thead>

          <% @job_sites.each do |job_site| %>
              <tr>
                <td><%= link_to job_site.contact_name, edit_customer_job_site_path(:id=>job_site.id, :customer_id=>@customer.id), :controller => "job_sites"%></td>
                <td><%= job_site.street1%></td>
                <td><%= job_site.city %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
    <br>

    <%= link_to 'New Job Site', new_customer_job_site_path(@customer.id) %>
    <% end %>

<% end %>
