<h1>Search customers</h1>

<%= render :partial => 'search' %>

<% if @customers!= nil && @customers.count >= 1 %>
    <table>
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @customers.each do |customer| %>
          <tr>
            <td><%= link_to customer.first_name, customer %></td>
            <td><%= customer.last_name %></td>
            <td><%= customer.email %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer.id) %></td>
            <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<br>

<%= link_to 'New Customer', new_customer_path %>
