<h1>Listing Job costings</h1>

<table>
  <thead>
    <tr>
      <th>Job site</th>
      <th>Materials</th>
      <th>Labor</th>
      <th>Job cost</th>
      <th>Overhead</th>
      <th>Overhead percentage</th>
      <th>Net profit</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_costings.each do |job_costing| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= job_costing.job_site_id %></td>
        <td><%= job_costing.materials %></td>
        <td><%= job_costing.labor %></td>
        <td><%= job_costing.job_cost %></td>
        <td><%= job_costing.overhead %></td>
        <td><%= job_costing.overhead_percentage %></td>
        <td><%= job_costing.net_profit %></td>
        <td><%= link_to 'Edit', edit_job_costing_path(job_costing) %></td>
        <td><%= link_to 'Delete', job_costing, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job costing', new_job_costing_path %>
