<%= form_for(@roof_type) do |f| %>
  <% if @roof_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roof_type.errors.count, "error") %> prohibited this roof_type from being saved:</h2>

      <ul>
      <% @roof_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :roof_type %><br>
    <%= f.text_field :roof_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
