<%= form_for(@company) do |f| %>
    <script type="text/javascript">
        jQuery(function($) {
            $.mask.definitions['~']='[+-]';
            $('#company_main_phone').mask('(999) 999-9999');
            $('#company_fax_number').mask('(999) 999-9999');
        });
    </script>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :main_phone %><br>
    <%= f.text_field :main_phone %>
  </div>
  <div class="field">
    <%= f.label :fax_number %><br>
    <%= f.text_field :fax_number %>
  </div>
  <div class="field">
    <%= f.label :main_email %><br>
    <%= f.text_field :main_email %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :license %><br>
    <%= f.text_field :license %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
