<h1>Listing Contact types</h1>

<table>
  <thead>
    <tr>
      <th>Contact type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_types.each do |contact_type| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= contact_type.contact_type %></td>
        <td><%= link_to 'Edit', edit_contact_type_path(contact_type) %></td>
        <td><%= link_to 'Delete', contact_type, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact type', new_contact_type_path %>
