<%= form_for [@customer, @job_site, @job_call_note] do |f| %>
    <script type="text/javascript">
        $(function() {
            $( "#callTime" ).datepicker({ dateFormat: 'mm/dd/yy', onSelect: function(selected,evnt) {
                updateCallTime(selected,getCurrentTime());
            }});
        });
        function updateCallTime(selected,value){
            $('#callDate').val(selected);
            $('#callTime').val(value);
        }
        function getCurrentTime() {
            var CurrentTime = "";
            try {
                var CurrentDate = new Date();
                var CurrentHours = CurrentDate.getHours();
                var CurrentMinutes = CurrentDate.getMinutes();
                var CurrentAmPm = "AM";
                if (CurrentMinutes < 10) { CurrentMinutes = "0" + CurrentMinutes; }

                if (CurrentHours == 12) {
                    CurrentHours = 12;
                    CurrentAmPm = " PM";
                }
                else if (CurrentHours == 0) {
                    CurrentHours = 12;
                    CurrentAmPm = " AM";
                }
                else if (CurrentHours > 12) {
                    CurrentHours = CurrentHours - 12;
                    CurrentAmPm = " PM";
                }
                else {
                    CurrentAmPm = " AM";
                }
                CurrentTime = "" + CurrentHours + ":" + CurrentMinutes + CurrentAmPm + "";
            }
            catch (ex) {
            }
            return CurrentTime;
        }
    </script>
  <% if @job_call_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_call_note.errors.count, "error") %> prohibited this job_call_note from being saved:</h2>

      <ul>
      <% @job_call_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table width="50%">
      <tr>
        <td width="20%">Call Date Time</td>
        <td width="50%"><%= f.text_field :call_date, :id => 'callDate', :readonly => true %><%= f.text_field :call_time, :id => 'callTime',:size=>'10'%></td>
        <td width="1%"></td>
        <td width="10%">Employee</td>
        <td width="20%"><%= f.select(:employee_id, options_for_select(Employee.all.map{|t| ["#{t.first_name} #{t.last_name}", t.id]}, @job_call_note.employee_id),:include_blank => "Choose Employee") %></td>
      </tr>
      <tr>
        <td>Call Notes</td>
        <td colspan="4"><%= f.text_area :call_notes, :size=>"60x3" %><%= f.hidden_field :job_site_id %></td>
      </tr>
    </table>

    <div class="actions">
      <% if @job_call_note!= nil && @job_call_note.id != nil%>
          <%= button_to "Update Job Call Note", customer_job_site_job_call_note_path(:customer_id=>@job_site.customer_id,:id=>@job_call_note.id,:job_site_id => @job_site.id), :method => :put %>
      <% else %>
          <%= button_to "Create Job Call Note", customer_job_site_job_call_notes_path(:customer_id=>@job_site.customer_id,:job_site_id=>@job_site.id), :method => :post %>
      <% end %>
    </div>
<% end %>
