<%= form_for [@customer, @job_site, @job_change_order] do |f| %>
  <% if @job_change_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_change_order.errors.count, "error") %> prohibited this job_change_order from being saved:</h2>

      <ul>
      <% @job_change_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table width="50%">
      <tr>
        <td width="20%">C/O No.</td>
        <td width="50%"><%= f.text_field :co_number %></td>
        <td width="1%"></td>
        <td width="10%">C/O Total</td>
        <td width="20%"><%= f.text_field :co_total %></td>
      </tr>
      <tr>
        <td>Notes</td>
        <td colspan="4"><%= f.text_area :notes, :size=>"60x3" %><%= f.hidden_field :job_site_id %></td>
      </tr>
    </table>

    <div class="actions">
      <% if @job_call_note!= nil && @job_call_note.id != nil%>
          <%= button_to "Update Job Change Order", customer_job_site_job_change_order_path(:customer_id=>@job_site.customer_id,:id=>@job_change_order.id,:job_site_id => @job_site.id), :method => :put %>
      <% else %>
          <%= button_to "Create Job Change Order", customer_job_site_job_change_orders_path(:customer_id=>@job_site.customer_id,:job_site_id=>@job_site.id), :method => :post %>
      <% end %>
    </div>
<% end %>
