<h1>Listing customer_types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_types.each do |customer_type| %>
      <tr>
        <td><%= customer_type.type %></td>
        <td><%= link_to 'Show', customer_type %></td>
        <td><%= link_to 'Edit', edit_customer_type_path(customer_type) %></td>
        <td><%= link_to 'Delete', customer_type, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer type', new_customer_type_path %>
