<h1>Listing Job Statuses</h1>

<table width="40%">
  <thead>
    <tr>
      <th align="left">Status</th>
      <th align="left">Is job closed</th>
      <th align="left"></th>
      <th align="left"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_statuses.each do |job_status| %>
      <tr>
        <td><%= job_status.status %></td>
        <td><%= job_status.is_job_closed %></td>
        <td><%= link_to 'Edit', edit_job_status_path(job_status) %></td>
        <td><%= link_to 'Delete', job_status, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job status', new_job_status_path %>
