<h1>Listing Assemblies</h1>

<table width="100%">
  <thead>
    <tr>
      <th align="left">Master item</th>
      <th align="left">Item Price</th>
      <th align="left">Item description</th>
      <th align="left">Build date</th>
      <th align="left">Unit of measurement</th>
      <th align="left"></th>
      <th align="left"></th>
    </tr>
  </thead>

  <tbody>
    <% @assemblies.each do |assembly| %>
      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= link_to assembly.master_item, edit_assembly_path(assembly) %></td>
        <td><%= number_to_currency(assembly.total_price) %></td>
        <td><%= assembly.item_description %></td>
        <td><%= assembly.build_date.strftime("%m/%d/%Y") unless assembly.build_date.nil?  %></td>
        <td><%= UnitOfMeasurement.where(:id=>assembly.uom_id).pluck(:unit).first%></td>
        <td><%= link_to 'Edit', edit_assembly_path(assembly) %></td>
        <td><%= link_to 'Delete', assembly, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assembly', new_assembly_path %>
