<!DOCTYPE html>
<html>
<head>
  <title>King Roof Inc.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body style="margin: 0px">
<table width="100%">
  <tr style="background-color: #2f6fab; text-align: center; font-weight:bold ">
    <td width="15%" style="font-weight: bold"><span style="color: white">Date: <%= Time.now.strftime("%m/%d/%Y")%></span></td>
    <td width="70%"><%=image_tag("banner.png", :height=>"50", :width => "450")%></td>
    <td width="15%"><a href="#"><span style="color: white">Help</span></a></td>
  </tr>
</table>

</div>
<div id="menu">
  <ul class="menu" style="width: 100%">
    <li><a href="/" class="parent"><span>Home</span></a></li>
    <li><a href="#" class="parent"><span>Company</span></a>
      <div><ul>
        <li><a href="/companies"><span>Company Details</span></a></li>
        <li><a href="/employees"><span>Employee</span></a></li>
        <li><a href="#"><span>Setting</span></a></li>
      </ul></div>
    </li>
    <li><a href="#" class="parent"><span>Clients</span></a>
      <div><ul>
        <li><a href="/customers/new"><span>Add New</span></a></li>
        <li><a href="/customers_search"><span>Search</span></a></li>
        <li><a href="/job_sites"><span>Job Search</span></a></li>
      </ul></div>
    </li>
    <li><a href="#" class="parent"><span>Sales</span></a>
      <div><ul>
        <li><a href="#"><span>Sales Event</span></a></li>
        <li><a href="#"><span>Estimates</span></a></li>
        <li><a href="#"><span>Proposals</span></a></li>
        <li><a href="#"><span>Photos</span></a></li>
      </ul></div>
    </li>
    <li><a href="/task_viewer" class="parent"><span>Task Viewer</span></a></li>
    <li><a href="#" class="parent"><span>Production</span></a>
      <div><ul>
        <li><a href="#"><span>Jobs</span></a></li>
        <li><a href="#"><span>WIP</span></a></li>
        <li><a href="#"><span>PO</span></a></li>
        <li><a href="#"><span>WO</span></a></li>
        <li><a href="#"><span>Invoice</span></a></li>
        <li><a href="#"><span>Inspections</span></a></li>
      </ul></div>
    </li>
    <li><a href="#" class="parent"><span>Reports</span></a>
      <div><ul>
        <li><a href="#"><span>Sales Rep</span></a></li>
        <li><a href="#"><span>Sales Zip</span></a></li>
        <li><a href="#"><span>Sales Terr</span></a></li>
        <li><a href="#"><span>Sales Color</span></a></li>
        <li><a href="#"><span>Sales Cat.</span></a></li>
      </ul></div>
    </li>
    <li><a href="#" class="parent"><span>Vendors</span></a></li>
    <li><a href="#" class="parent"><span>Admin</span></a>
      <div><ul>
        <li><a href="#"><span>Items L&M</span></a></li>
        <li><a href="#"><span>Category</span></a></li>
        <li><a href="/product_colors"><span>Colors</span></a></li>
        <li><a href="#"><span>Unit Measure</span></a></li>
        <li><a href="#"><span>Pitch</span></a></li>
        <li><a href="#"><span>Division</span></a></li>
        <li><a href="/job_statuses"><span>Status</span></a></li>
        <li><a href="#"><span>Territory</span></a></li>
        <li><a href="#"><span>Compensation</span></a></li>
        <li><a href="/lead_sources"><span>Lead Sources</span></a></li>
        <li><a href="/customer_types"><span>Customer Types</span></a></li>
        <li><a href="/contact_types"><span>Contact Types</span></a></li>
        <li><a href="/service_types"><span>Service Types</span></a></li>
        <li><a href="/roof_types"><span>Roof Types</span></a></li>
        <li><a href="/product_types"><span>Product Types</span></a></li>
        <li><a href="/estimate_types"><span>Estimate Types</span></a></li>
        <li><a href="/task_types"><span>Task Types</span></a></li>
        <li><a href="/item_codes"><span>Item Codes</span></a></li>
      </ul></div>
    </li>
    <li><a href="#" class="parent"><span>Log Out</span></a></li>

  </ul>
</div>
<div id="copyright"><a href="http://apycom.com/"></a></div>
<p id="notice" style="font-weight: bold; font-size: 12; color: blue"><%= notice %></p>
<%= yield %>
</body>
</html>
