<!DOCTYPE html>
<html>
<head>
  <title>King Roof Inc.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>

      (function($){ //create closure so we can safely use $ as alias for jQuery

          $(document).ready(function(){

              // initialise plugin
              var example = $('#example').superclick({
                  //add options here if required
              });

              // buttons to demonstrate Superclick's public methods
              $('.destroy').on('click', function(){
                  example.superclick('destroy');
                  return false;
              });

              $('.init').on('click', function(){
                  example.superclick();
                  return false;
              });

              $('.open').on('click', function(){
                  example.children('li:first').superclick('show');
                  return false;
              });

              $('.close').on('click', function(){
                  example.children('li:first').superclick('hide');
                  return false;
              });

              $('.closeall').on('click', function(){
                  example.superclick('reset');
                  return false;
              });
          });

      })(jQuery);


  </script>
</head>
<body style="margin: 0px">
<table width="100%">
  <tr style="background-color: #2f6fab; text-align: center; font-weight:bold ">
    <td width="15%" style="font-weight: bold"><span style="color: white">Date: <%= Time.now.strftime("%m/%d/%Y")%></span></td>
    <td width="70%"><%=image_tag("banner.png", :height=>"50", :width => "450")%></td>
    <td width="15%"><a href="#"><span style="color: white">Help</span></a></td>
  </tr>
</table>

<div style="color: white;font-weight: bold">
<ul class="sf-menu" id="example" style="width: 100%">
  <li><a href="/"><span style="color: white;font-weight: bold">Home</span></a></li>
  <li class="current"><a href="#"><span style="color: white;font-weight: bold">Administration</span></a>
    <ul>
      <li><a href="/companies">Company Details</a></li>
      <li><a href="/employees">Employee</a></li>
      <li><a href="#">Setting</a></li>
    </ul>
  </li>
  <li class="current"><a href="#"><span style="color: white;font-weight: bold">Search</span></a>
    <ul>
      <li><a href="/customers_search">Customer Search</a></li>
      <li><a href="/job_sites">Job Search</a></li>
    </ul>
  </li>
  <li class="current"><a href="#"><span style="color: white;font-weight: bold">Sales</span></a>
    <ul>
      <li><a href="#">Sales Event</a></li>
      <li><a href="#">Estimates</a></li>
      <li><a href="#">Proposals</a></li>
      <li><a href="#">Photos</a></li>
    </ul>
  </li>
  <li><a href="/task_viewer"><span style="color: white;font-weight: bold">Task Viewer</span></a></li>
  <li class="current"><a href="#"><span style="color: white;font-weight: bold">Production</span></a>
    <ul>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">WIP</a></li>
      <li><a href="#">PO</a></li>
      <li><a href="#">WO</a></li>
      <li><a href="#">Invoice</a></li>
      <li><a href="#">Inspections</a></li>
    </ul>
  </li>
  <li class="current"><a href="#"><span style="color: white;font-weight: bold">Reports</span></a>
    <ul>
      <li><a href="#">Sales Rep</a></li>
      <li><a href="#">Sales Zip</a></li>
      <li><a href="#">Sales Terr</a></li>
      <li><a href="#">Sales Color</a></li>
      <li><a href="#">Sales Cat.</a></li>
    </ul>
  </li>
  <li><a href="/vendors"><span style="color: white;font-weight: bold">Vendors</span></a></li>
  <li class="current"><a href="#"><span style="color: white;font-weight: bold">Admin</span></a>
    <ul>
      <li><a href="/assemblies">Items L&M</a></li>
      <li><a href="/product_colors">Colors</a></li>
      <li><a href="/unit_of_measurements">Unit Measure</a></li>
      <li><a href="/job_statuses">Status</a></li>
      <li><a href="/customer_types">Customer Types</a></li>
      <li><a href="/contact_types">Contact Types</a></li>
      <li><a href="/service_types">Service Types</a></li>
      <li><a href="/roof_types">Roof Types</a></li>
      <li><a href="/product_types">Product Types</a></li>
      <li><a href="/estimate_types">Estimate Types</a></li>
      <li><a href="/task_types">Task Types</a></li>
      <li><a href="/item_codes">Item Codes</a></li>
      <li><a href="/lead_sources">Lead Sources</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Pitch</a></li>
      <li><a href="#">Division</a></li>
      <li><a href="#">Territory</a></li>
      <li><a href="#">Compensation</a></li>
    </ul>
  </li>
  <li><a href="#"><span style="color: white;font-weight: bold">Log Out</span></a></li>

</ul>
</div>
<p id="notice" style="font-weight: bold; font-size: 12; color: blue"><%= notice %></p>
<%= yield %>
</body>
</html>
